*,*:after,*:before{-webkit-box-sizing: border-box;box-sizing:border-box;}
body {
	font-size: 20px;
	padding: 20px;
	background: #fff;
}
.row {display:table;width:100%;margin-left:-2px;margin-right:-2px;}
.box {display:table-cell;width:33.3333%;padding:2px;text-align:center;position: relative;}
.inner {padding:10px;}
.inner:after {content:"";width:auto;height:auto;position:absolute;left:2px;top:2px;right:2px;bottom:2px;border:1px solid #ccc;}